{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card border-0 shadow">

            <div class="card-body p-5">

                <h2 class="mb-4">
                    Register
                </h2>

                {% if error %}

                <div class="alert alert-danger">
                    {{ error }}
                </div>

                {% endif %}

                <form method="post" action="/register">

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input type="text" name="username" class="form-control form-control-lg" required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Email
                        </label>

                        <input type="email" name="email" class="form-control form-control-lg" required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input type="password" name="password" class="form-control form-control-lg" required>

                        <div class="form-text">

                            Password:
                            8+ chars, uppercase, digit.

                        </div>
                        
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2">

                        Register

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}